## 2. Count or Frequency Encoding

#### To Handle Categorical Features of data frame containing
#### several Categories/Label called as High cardilatiy

In [25]:
import pandas as pd
import numpy as np

df = pd.read_csv(r'C:\Users\LENOVO\Desktop\Feature Engineering\mercedesbenz.csv')
df

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [26]:
df = pd.read_csv(r'C:\Users\LENOVO\Desktop\Feature Engineering\mercedesbenz.csv', usecols=['X1','X2'])
#columns x1 and x2 have high cordinality ratio
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [27]:
len(df['X1'].unique())

27

In [28]:
len(df['X2'].unique())

44

In [29]:
df.shape  #dimensions of the new dataset

(4209, 2)

### One Hot Encoding

In [30]:
pd.get_dummies(df).shape
# One hot encoding increased the dataset from 2 columns to 71 columns

(4209, 71)

In [31]:
len(df['X1'].unique()) #no.of label in column x1

27

In [32]:
len(df['X2'].unique()) #no.of label in column x2

44

In [33]:
for col in df.columns:
    print(col,':',len(df[col].unique()),'labels')
#single command for no.of labels in columns in both x1 and x2

X1 : 27 labels
X2 : 44 labels

In [34]:
df.X2.value_counts().to_dict()

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'z': 19,
 'ag': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'al': 5,
 'an': 5,
 'q': 5,
 'ah': 4,
 'av': 4,
 'p': 4,
 'au': 3,
 'c': 1,
 'am': 1,
 'o': 1,
 'af': 1,
 'aa': 1,
 'j': 1,
 'ar': 1,
 'l': 1}

In [35]:
df_frequency_map = df.X2.value_counts().to_dict()
#df_frequency_map
# MAp function to define dictionary which maps each label to the Count

In [36]:
df.X2 = df.X2.map(df_frequency_map)
#Replace X2 labels in dataset df

df.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137