## Feature Engineering

### 1) How to perform OneHot Encoding for Multi Categorical Variables

In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv(r'C:\Users\LENOVO\Desktop\Feature Engineering\mercedesbenz.csv')
data

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [6]:
for col in data.columns:
    print(col, ':', len(data[col].unique()), 'labels')
#finding the number of Unique variables available in each label (x1 to x385)

ID : 4209 labels
y : 2545 labels
X0 : 47 labels
X1 : 27 labels
X2 : 44 labels
X3 : 7 labels
X4 : 4 labels
X5 : 29 labels
X6 : 12 labels
X8 : 25 labels
X10 : 2 labels
X11 : 1 labels
X12 : 2 labels
X13 : 2 labels
X14 : 2 labels
X15 : 2 labels
X16 : 2 labels
X17 : 2 labels
X18 : 2 labels
X19 : 2 labels
X20 : 2 labels
X21 : 2 labels
X22 : 2 labels
X23 : 2 labels
X24 : 2 labels
X26 : 2 labels
X27 : 2 labels
X28 : 2 labels
X29 : 2 labels
X30 : 2 labels
X31 : 2 labels
X32 : 2 labels
X33 : 2 labels
X34 : 2 labels
X35 : 2 labels
X36 : 2 labels
X37 : 2 labels
X38 : 2 labels
X39 : 2 labels
X40 : 2 labels
X41 : 2 labels
X42 : 2 labels
X43 : 2 labels
X44 : 2 labels
X45 : 2 labels
X46 : 2 labels
X47 : 2 labels
X48 : 2 labels
X49 : 2 labels
X50 : 2 labels
X51 : 2 labels
X52 : 2 labels
X53 : 2 labels
X54 : 2 labels
X55 : 2 labels
X56 : 2 labels
X57 : 2 labels
X58 : 2 labels
X59 : 2 labels
X60 : 2 labels
X61 : 2 labels
X62 : 2 labels
X63 : 2 labels
X64 : 2 labels
X65 : 2 labels
X66 : 2 labels
X67 : 2 labels
X68 : 2 labels
X69 : 2 labels
X70 : 2 labels
X71 : 2 labels
X73 : 2 labels
X74 : 2 labels
X75 : 2 labels
X76 : 2 labels
X77 : 2 labels
X78 : 2 labels
X79 : 2 labels
X80 : 2 labels
X81 : 2 labels
X82 : 2 labels
X83 : 2 labels
X84 : 2 labels
X85 : 2 labels
X86 : 2 labels
X87 : 2 labels
X88 : 2 labels
X89 : 2 labels
X90 : 2 labels
X91 : 2 labels
X92 : 2 labels
X93 : 1 labels
X94 : 2 labels
X95 : 2 labels
X96 : 2 labels
X97 : 2 labels
X98 : 2 labels
X99 : 2 labels
X100 : 2 labels
X101 : 2 labels
X102 : 2 labels
X103 : 2 labels
X104 : 2 labels
X105 : 2 labels
X106 : 2 labels
X107 : 1 labels
X108 : 2 labels
X109 : 2 labels
X110 : 2 labels
X111 : 2 labels
X112 : 2 labels
X113 : 2 labels
X114 : 2 labels
X115 : 2 labels
X116 : 2 labels
X117 : 2 labels
X118 : 2 labels
X119 : 2 labels
X120 : 2 labels
X122 : 2 labels
X123 : 2 labels
X124 : 2 labels
X125 : 2 labels
X126 : 2 labels
X127 : 2 labels
X128 : 2 labels
X129 : 2 labels
X130 : 2 labels
X131 : 2 labels
X132 : 2 labels
X133 : 2 labels
X134 : 2 labels
X135 : 2 labels
X136 : 2 labels
X137 : 2 labels
X138 : 2 labels
X139 : 2 labels
X140 : 2 labels
X141 : 2 labels
X142 : 2 labels
X143 : 2 labels
X144 : 2 labels
X145 : 2 labels
X146 : 2 labels
X147 : 2 labels
X148 : 2 labels
X150 : 2 labels
X151 : 2 labels
X152 : 2 labels
X153 : 2 labels
X154 : 2 labels
X155 : 2 labels
X156 : 2 labels
X157 : 2 labels
X158 : 2 labels
X159 : 2 labels
X160 : 2 labels
X161 : 2 labels
X162 : 2 labels
X163 : 2 labels
X164 : 2 labels
X165 : 2 labels
X166 : 2 labels
X167 : 2 labels
X168 : 2 labels
X169 : 2 labels
X170 : 2 labels
X171 : 2 labels
X172 : 2 labels
X173 : 2 labels
X174 : 2 labels
X175 : 2 labels
X176 : 2 labels
X177 : 2 labels
X178 : 2 labels
X179 : 2 labels
X180 : 2 labels
X181 : 2 labels
X182 : 2 labels
X183 : 2 labels
X184 : 2 labels
X185 : 2 labels
X186 : 2 labels
X187 : 2 labels
X189 : 2 labels
X190 : 2 labels
X191 : 2 labels
X192 : 2 labels
X194 : 2 labels
X195 : 2 labels
X196 : 2 labels
X197 : 2 labels
X198 : 2 labels
X199 : 2 labels
X200 : 2 labels
X201 : 2 labels
X202 : 2 labels
X203 : 2 labels
X204 : 2 labels
X205 : 2 labels
X206 : 2 labels
X207 : 2 labels
X208 : 2 labels
X209 : 2 labels
X210 : 2 labels
X211 : 2 labels
X212 : 2 labels
X213 : 2 labels
X214 : 2 labels
X215 : 2 labels
X216 : 2 labels
X217 : 2 labels
X218 : 2 labels
X219 : 2 labels
X220 : 2 labels
X221 : 2 labels
X222 : 2 labels
X223 : 2 labels
X224 : 2 labels
X225 : 2 labels
X226 : 2 labels
X227 : 2 labels
X228 : 2 labels
X229 : 2 labels
X230 : 2 labels
X231 : 2 labels
X232 : 2 labels
X233 : 1 labels
X234 : 2 labels
X235 : 1 labels
X236 : 2 labels
X237 : 2 labels
X238 : 2 labels
X239 : 2 labels
X240 : 2 labels
X241 : 2 labels
X242 : 2 labels
X243 : 2 labels
X244 : 2 labels
X245 : 2 labels
X246 : 2 labels
X247 : 2 labels
X248 : 2 labels
X249 : 2 labels
X250 : 2 labels
X251 : 2 labels
X252 : 2 labels
X253 : 2 labels
X254 : 2 labels
X255 : 2 labels
X256 : 2 labels
X257 : 2 labels
X258 : 2 labels
X259 : 2 labels
X260 : 2 labels
X261 : 2 labels
X262 : 2 labels
X263 : 2 labels
X264 : 2 labels
X265 : 2 labels
X266 : 2 labels
X267 : 2 labels
X268 : 1 labels
X269 : 2 labels
X270 : 2 labels
X271 : 2 labels
X272 : 2 labels
X273 : 2 labels
X274 : 2 labels
X275 : 2 labels
X276 : 2 labels
X277 : 2 labels
X278 : 2 labels
X279 : 2 labels
X280 : 2 labels
X281 : 2 labels
X282 : 2 labels
X283 : 2 labels
X284 : 2 labels
X285 : 2 labels
X286 : 2 labels
X287 : 2 labels
X288 : 2 labels
X289 : 1 labels
X290 : 1 labels
X291 : 2 labels
X292 : 2 labels
X293 : 1 labels
X294 : 2 labels
X295 : 2 labels
X296 : 2 labels
X297 : 1 labels
X298 : 2 labels
X299 : 2 labels
X300 : 2 labels
X301 : 2 labels
X302 : 2 labels
X304 : 2 labels
X305 : 2 labels
X306 : 2 labels
X307 : 2 labels
X308 : 2 labels
X309 : 2 labels
X310 : 2 labels
X311 : 2 labels
X312 : 2 labels
X313 : 2 labels
X314 : 2 labels
X315 : 2 labels
X316 : 2 labels
X317 : 2 labels
X318 : 2 labels
X319 : 2 labels
X320 : 2 labels
X321 : 2 labels
X322 : 2 labels
X323 : 2 labels
X324 : 2 labels
X325 : 2 labels
X326 : 2 labels
X327 : 2 labels
X328 : 2 labels
X329 : 2 labels
X330 : 1 labels
X331 : 2 labels
X332 : 2 labels
X333 : 2 labels
X334 : 2 labels
X335 : 2 labels
X336 : 2 labels
X337 : 2 labels
X338 : 2 labels
X339 : 2 labels
X340 : 2 labels
X341 : 2 labels
X342 : 2 labels
X343 : 2 labels
X344 : 2 labels
X345 : 2 labels
X346 : 2 labels
X347 : 1 labels
X348 : 2 labels
X349 : 2 labels
X350 : 2 labels
X351 : 2 labels
X352 : 2 labels
X353 : 2 labels
X354 : 2 labels
X355 : 2 labels
X356 : 2 labels
X357 : 2 labels
X358 : 2 labels
X359 : 2 labels
X360 : 2 labels
X361 : 2 labels
X362 : 2 labels
X363 : 2 labels
X364 : 2 labels
X365 : 2 labels
X366 : 2 labels
X367 : 2 labels
X368 : 2 labels
X369 : 2 labels
X370 : 2 labels
X371 : 2 labels
X372 : 2 labels
X373 : 2 labels
X374 : 2 labels
X375 : 2 labels
X376 : 2 labels
X377 : 2 labels
X378 : 2 labels
X379 : 2 labels
X380 : 2 labels
X382 : 2 labels
X383 : 2 labels
X384 : 2 labels
X385 : 2 labels

In [7]:
data1 = pd.read_csv(r'C:\Users\LENOVO\Desktop\Feature Engineering\mercedesbenz.csv', usecols = ['X1','X2','X3','X4','X5','X6'])
data1

     X1  X2 X3 X4  X5 X6
0     v  at  a  d   u  j
1     t  av  e  d   y  l
2     w   n  c  d   x  j
3     t   n  f  d   x  l
4     v   n  f  d   h  d
...  ..  .. .. ..  .. ..
4204  s  as  c  d  aa  d
4205  o   t  d  d  aa  h
4206  v   r  a  d  aa  g
4207  r   e  f  d  aa  l
4208  r  ae  c  d  aa  g

[4209 rows x 6 columns]

In [8]:
for col in data1.columns:
    print(col, ':', len(data1[col].unique()), 'labels')

X1 : 27 labels
X2 : 44 labels
X3 : 7 labels
X4 : 4 labels
X5 : 29 labels
X6 : 12 labels

In [9]:
pd.get_dummies(data1, drop_first=True).shape
#after one hot encoding above 6 variables, total 117 Columns

(4209, 117)

In [11]:
data1.X3.value_counts().sort_values(ascending=False).head(20)
# top 20 most frequent categories for the varibale X3

c    1942
f    1076
a     440
d     290
g     241
e     163
b      57
Name: X3, dtype: int64

In [12]:
data1.X2.value_counts().sort_values(ascending=False).head(20)
# top 20 most frequent categories for the varibale X2

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
i       25
k       25
b       21
ao      20
z       19
ag      19
Name: X2, dtype: int64

In [14]:
data1.X2.value_counts().sort_values(ascending=False).head(10)
# top 20 most frequent categories for the varibale X3

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
Name: X2, dtype: int64

In [15]:
top_10 = [x for x in data1.X2.value_counts().sort_values(ascending=False).head(10).index]
top_10  #Index of top 10 most frequent categories for the variables x2

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [18]:
for label in top_10:
    data1[label] = np.where(data1['X2']==label,1,0)
data1[['X2']+top_10].head(9)  #making 10 binary variables for x2

   X2  as  ae  ai  m  ak  r  n  s  f  e
0  at   0   0   0  0   0  0  0  0  0  0
1  av   0   0   0  0   0  0  0  0  0  0
2   n   0   0   0  0   0  0  1  0  0  0
3   n   0   0   0  0   0  0  1  0  0  0
4   n   0   0   0  0   0  0  1  0  0  0
5   e   0   0   0  0   0  0  0  0  0  1
6   e   0   0   0  0   0  0  0  0  0  1
7  as   1   0   0  0   0  0  0  0  0  0
8  as   1   0   0  0   0  0  0  0  0  0

In [24]:
def one_hot_top_x(df, variable, top_x_labels):
    for label in top_x_labels:
        df[variable+'_'+label] = np.where(data1[variable]==label,1,0)
        
one_hot_top_x(data1, 'X2', top_10)
data1.head()

,X1,X2,X3,X4,X5,X6,as,ae,ai,m,...,X2_as,X2_ae,X2_ai,X2_m,X2_ak,X2_r,X2_n,X2_s,X2_f,X2_e
0,v,at,a,d,u,j,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,t,n,f,d,x,l,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,v,n,f,d,h,d,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [25]:
#finding top10 most frequent categories for x1
top_10 = [x for x in data1.X1.value_counts().sort_values(ascending=False).head(10).index]

#creating top dummy variables for x1
one_hot_top_x(data1, 'X1', top_10)
data1.head()

,X1,X2,X3,X4,X5,X6,as,ae,ai,m,...,X1_aa,X1_s,X1_b,X1_l,X1_v,X1_r,X1_i,X1_a,X1_c,X1_o
0,v,at,a,d,u,j,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,t,n,f,d,x,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,v,n,f,d,h,d,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0