## 3. Ordinal Number Encoding or Label Encoding

In [2]:
import pandas as pd
import numpy as np
import datetime

In [3]:
#create a variable with dates, and from that extract the weekday
df_base = datetime.datetime.today()

#create list of dates with 10 days different from today
df_date_list = [df_base-datetime.timedelta(days=x) for x in range(0, 10)]

In [4]:
df_date_list

[datetime.datetime(2022, 3, 8, 11, 10, 2, 278340),
 datetime.datetime(2022, 3, 7, 11, 10, 2, 278340),
 datetime.datetime(2022, 3, 6, 11, 10, 2, 278340),
 datetime.datetime(2022, 3, 5, 11, 10, 2, 278340),
 datetime.datetime(2022, 3, 4, 11, 10, 2, 278340),
 datetime.datetime(2022, 3, 3, 11, 10, 2, 278340),
 datetime.datetime(2022, 3, 2, 11, 10, 2, 278340),
 datetime.datetime(2022, 3, 1, 11, 10, 2, 278340),
 datetime.datetime(2022, 2, 28, 11, 10, 2, 278340),
 datetime.datetime(2022, 2, 27, 11, 10, 2, 278340)]

In [5]:
# transform the list into dataframe
df = pd.DataFrame(df_date_list)
df.columns = ['day']
df

                         day
0 2022-03-08 11:10:02.278340
1 2022-03-07 11:10:02.278340
2 2022-03-06 11:10:02.278340
3 2022-03-05 11:10:02.278340
4 2022-03-04 11:10:02.278340
5 2022-03-03 11:10:02.278340
6 2022-03-02 11:10:02.278340
7 2022-03-01 11:10:02.278340
8 2022-02-28 11:10:02.278340
9 2022-02-27 11:10:02.278340

In [6]:
df['day_of_week'] = df['day'].dt.day_name()  #generated day name for each date
df.head()

                         day day_of_week
0 2022-03-08 11:10:02.278340     Tuesday
1 2022-03-07 11:10:02.278340      Monday
2 2022-03-06 11:10:02.278340      Sunday
3 2022-03-05 11:10:02.278340    Saturday
4 2022-03-04 11:10:02.278340      Friday

In [7]:
weekday_map = {
    'Monday':1,
    'Tuesday':2,
    'Wednesday':3,
    'Thursday':4,
    'Friday':5,
    'Saturday':6,
    'Sunday':7
}

df['day_ordinal'] = df.day_of_week.map(weekday_map)
df.head(10)  #assign rank to each day

                         day day_of_week  day_ordinal
0 2022-03-08 11:10:02.278340     Tuesday            2
1 2022-03-07 11:10:02.278340      Monday            1
2 2022-03-06 11:10:02.278340      Sunday            7
3 2022-03-05 11:10:02.278340    Saturday            6
4 2022-03-04 11:10:02.278340      Friday            5
5 2022-03-03 11:10:02.278340    Thursday            4
6 2022-03-02 11:10:02.278340   Wednesday            3
7 2022-03-01 11:10:02.278340     Tuesday            2
8 2022-02-28 11:10:02.278340      Monday            1
9 2022-02-27 11:10:02.278340      Sunday            7